groupMngmt/.vs/GroupMngmt/config/
GroupMngmt/GroupMngmt/Web.config
groupMngmt/.vs/GroupMngmt/
groupMngmt/GroupMngmt/bin/
groupMngmt/GroupMngmt/obj/
GroupMngmt/GroupMngmt/Web.Release.config
GroupMngmt/GroupMngmt/Web.Debug.config
*.dll
*.exe
