
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditIssue</title>
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link id="pagestyle" href="${contextPath}/css/soft-ui-dashboard.css" rel="stylesheet" />
</head>
<body>

        <div class="container-fluid py-4">
            <div class="row my-4">
                <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
                    <div class="card">
                        <div class="card-body px-0 pb-2">
                            <div class="card-header py-3 d-flex justify-content-between">
                                <h3 class="m-0 font-weight-bold text-primary">Issue Detail</h3>
                                <a href=""><btn class="btn btn-primary">Issue Management</btn></a>
                            </div>
                            <% if (state.equals("success")) {%>
                            <h6 class="text-success mt-3 px-4">${mess}</h6>
                            <%}%>
                            <% if (state.equals("fail")) {%>
                            <h6 class="text-danger mt-3 px-4">${mess}</h6>
                            <%}%>
                            <div class="card-body">
                                <form class="needs-validation" novalidate action="/Bmazon/AdminControllerMap" method="POST">
                                    <%if (service.equalsIgnoreCase("adduserdetail")) {%>
                                    <table class="table table-striped">
                                        <tr>
                                            <td style="width: 30%;">User Name</td>
                                            <td style="width: 70%;">
                                                <input pattern="[^' ']+" class="form-control" type="text" value="${username}" name="username" required>
                                                <div class="invalid-feedback">
                                                    Not blank and no space at beginning or ending
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Password</td>
                                            <td>
                                                <input pattern="[^' ']+" class="form-control" type="text" value="${password}" name="password" required>
                                                <div class="invalid-feedback">
                                                    Not blank and no space
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Full Name</td>
                                            <td>
                                                <input pattern="^[^\s]+(\s+[^\s]+)*$" class="form-control" type="text" value="${fullname}" name="fullname" required>
                                                <div class="invalid-feedback">
                                                    Not blank and no space
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>
                                                <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{1,4}$" class="form-control" type="text" value="${email}" name="email" required>
                                                <div class="invalid-feedback">
                                                    Input correct email patter : abc@xyz.com
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Phone</td>
                                            <td>
                                                <input pattern="(09|03|07|08|05)+([0-9]{8})" class="form-control" type="text" value="${phone}" name="phone" required>
                                                <div class="invalid-feedback">
                                                    Input correct phone number in Viet Nam
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Address</td>
                                            <td>
                                                <input pattern="^[^\s]+(\s+[^\s]+)*$" class="form-control" type="text" value="${address}" name="address" required>
                                                <div class="invalid-feedback">
                                                    Not blank and no space at beginning or ending
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Gender</td>
                                            <td>
                                                <select class="form-control" name="gender">
                                                    <option value="1">Male</option>
                                                    <option value="0">Female</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <input type="submit" value="Add User" class="btn btn-primary">
                                                <input type="hidden" value="adduser" name="service">
                                            </td>
                                        </tr>
                                    </table>
                                    <%}%>
                                    <%if (service.equalsIgnoreCase("updateuserdetail")) {%>
                                    <table class="table table-striped">
                                        <tr>
                                            <td>User Name</td>
                                            <td>
                                                <input pattern="[^' ']+" class="form-control" value="<%=user.getUsername()%>" type="text" name="username" required>
                                                <div class="invalid-feedback">
                                                    Not blank and no space at beginning or ending
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Password</td>
                                            <td>
                                                <input pattern="[^' ']+" class="form-control" value="<%=user.getPassword()%>" type="text" name="password" required>
                                                <div class="invalid-feedback">
                                                    Not blank and no space
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Full Name</td>
                                            <td>
                                                <input pattern="^[^\s]+(\s+[^\s]+)*$" class="form-control" value="<%=user.getFullname()%>" type="text" name="fullname" required>
                                                <div class="invalid-feedback">
                                                    Not blank and no space
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>
                                                <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" value="<%=user.getEmail()%>" type="text" name="email" required>
                                                <div class="invalid-feedback">
                                                    Input correct email patter : abc@xyz.com
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Phone</td>
                                            <td>
                                                <input pattern="(09|03|07|08|05)+([0-9]{8})" class="form-control" value="<%=user.getPhoneNumber()%>" type="text" name="phone" required>
                                                <div class="invalid-feedback">
                                                    Input correct phone number in Viet Nam
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Address</td>
                                            <td>
                                                <input pattern="^[^\s]+(\s+[^\s]+)*$" class="form-control" value="<%=user.getAddress()%>" type="text" name="address" required>
                                                <div class="invalid-feedback">
                                                    Not blank and no space at beginning or ending
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Gender</td>
                                            <td>
                                                <select class="form-control" name="gender">
                                                    <option <%if (user.getGender() == 1) {%> selected<%}%> value="1">Male</option>
                                                    <option <%if (user.getGender() == 0) {%> selected<%}%> value="0">Female</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <input type="submit" value="Update User" class="btn btn-primary">
                                                <input type="hidden" value="updateuser" name="service">
                                                <input type="hidden" value="<%=user.getUserId()%>" name="id">
                                            </td>
                                        </tr>
                                    </table>
                                    <%}%>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script src="${contextPath}/js/core/popper.min.js"></script>
    <script src="${contextPath}/js/core/bootstrap.min.js"></script>
    <script src="${contextPath}/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="${contextPath}/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="${contextPath}/js/plugins/chartjs.min.js"></script>
    <script>
            (function () {
                'use strict'
                var forms = document.querySelectorAll('.needs-validation')
                Array.prototype.slice.call(forms)
                        .forEach(function (form) {
                            form.addEventListener('submit', function (event) {
                                if (!form.checkValidity()) {
                                    event.preventDefault()
                                    event.stopPropagation()
                                }
                                form.classList.add('was-validated')
                            }, false)
                        })
            })()
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

</body>
</html>
