
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPass</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">
    <link rel="stylesheet" href="${contextPath}/css/login.css" type="text/css">
    <style>
        body {
            background-color: #F6FAFB;
            font-family: "Amazon Ember", Arial, sans-serif;
            background-image: url("../images/background_color.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        p {
            font-family: "Amazon Ember", Arial, sans-serif;
            color: #415a70;
        }

        .buttonSignIn {
            font-size: 15px;
            border-radius: 5px;
            border-color: #DBDEE3;
            color: #415a70;
            height: 35px;
            background: -moz-linear-gradient(top, #F5D68A 0%, #EFBB3B 100%);
            background: -webkit-linear-gradient(top, #F5D68A 0%, #EFBB3B 100%);
            background: -o-linear-gradient(top, #F5D68A 0%, #EFBB3B 100%);
            background: linear-gradient(top, #F5D68A 0%, #EFBB3B 100%);
        }

        .buttonSignUp {
            font-size: 15px;
            border-radius: 5px;
            border-color: #DBDEE3;
            color: #415a70;
            background: -moz-linear-gradient(top, #E6E9EF 0%, #DBDEE3 100%);
            background: -webkit-linear-gradient(top, #E6E9EF 0%, #DBDEE3 100%);
            background: -o-linear-gradient(top, #E6E9EF 0%, #DBDEE3 100%);
            background: linear-gradient(top, #E6E9EF 0%, #DBDEE3 100%);
        }

        .googleButton {
            font-size: 15px;
            font-family: "Amazon Ember", Arial, sans-serif;
        }

        .facebookButton {
            font-size: 15px;
            font-family: "Amazon Ember", Arial, sans-serif;
        }

        /* sign in FORM */
        #logreg-forms {
            width: 412px;
            margin: 10vh auto;
            background-color: #FAFAFA;
            box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.12), 1px 2px 5px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
            border-radius: 5px;
        }

            #logreg-forms form {
                width: 100%;
                max-width: 410px;
                padding: 15px;
                margin: auto;
            }

            #logreg-forms .form-control {
                position: relative;
                box-sizing: border-box;
                height: auto;
                padding: 10px;
                font-size: 16px;
            }

                #logreg-forms .form-control:focus {
                    z-index: 2;
                }

            #logreg-forms .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            #logreg-forms .form-signin input[type="password"] {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

            #logreg-forms .social-login {
                width: 390px;
                margin: 0 auto;
                margin-bottom: 14px;
            }

            #logreg-forms .social-btn {
                font-weight: 100;
                width: 190px;
                font-size: 0.9rem;
            }

            #logreg-forms a {
                display: block;
                padding-top: 10px;
                color: lightseagreen;
            }

        #logreg-form .lines {
            width: 200px;
            border: 1px solid red;
        }


        #logreg-forms button[type="submit"] {
            margin-top: 10px;
        }

        #logreg-forms .facebook-btn {
            background-color: #3C589C;
        }

        #logreg-forms .google-btn {
            background-color: #DF4B3B;
        }

        #logreg-forms .form-reset,
        #logreg-forms .form-signup {
            display: none;
        }

            #logreg-forms .form-signup .social-btn {
                width: 210px;
            }

            #logreg-forms .form-signup input {
                margin-bottom: 2px;
            }

        .form-signup .social-login {
            width: 210px !important;
            margin: 0 auto;
        }

        /* Mobile */

        #logreg-forms .social-login {
            width: 200px;
            margin: 0 auto;
            margin-bottom: 10px;
        }

        #logreg-forms .social-btn {
            font-size: 1.3rem;
            font-weight: 100;
            color: white;
            width: 200px;
            height: 56px;
        }

            #logreg-forms .social-btn:nth-child(1) {
                margin-bottom: 5px;
            }

            #logreg-forms .social-btn span {
                display: none;
            }

        #logreg-forms .facebook-btn:after {
            content: 'Facebook';
        }

        #logreg-forms .google-btn:after {
            content: 'Google+';
        }
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="logreg-forms">
            @using (Html.BeginForm("ForgotPass", "Account", FormMethod.Post, new { @class = "form-forgotpass" }))
            {
                @Html.AntiForgeryToken()
                <p style="font-size: 30px;">Reset password</p>
                <!--Username-->
                <label for="user" class="label">Username</label>
                <input id="user" type="text" name="username" placeholder="Username" class="form-control" required>
                <!--Email-->
                <label class="label">Enter Email</label>
                <input type="text" name="email" @*pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"*@ class="form-control"
                       id="email" placeholder="Email" required>
                <!--New password-->
                <label class="label">New password</label>
                <input id="newpassword" type="password" name="newpassword" placeholder="New password" class="form-control" required>
                <!--Re-enter new password-->
                <label class="label">Re-enter new password</label>
                <input id="renewpassword" type="password" name="renewpassword" placeholder="Re-enter new password" class="form-control" required>
                <!--Submit-->
                <p class="text-right" style="font-size: 12px;">@ViewBag.Mess</p>
                <button class="btn btn-secondary btn-block buttonSignIn" type="submit">
                    <i class="fas fa-sign-in-alt"></i> Submit
                </button>
                <div class="row">
                    <a class="col-md-6" style="font-size: 15px;" href="Index" id="cancel_signup"> Back to Login</a>
                    <a class="col-md-6 text-right" style="font-size: 15px;" href="@Url.Action("Index","Intro")" id="cancel_signup"> Back to HomePage</a>
                </div>
            }
        </div>
        <hr>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="/script.js"></script>
</body>
</html>
